@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Courier Prime", monospace;
}

body {
  background-color: #00000c;
  background-image: url("./logos/fsbg4.png");
  color: #f0ffff;
  min-height: 100vh;
  max-height: 100vh;
  background-repeat: no-repeat;
}

.main {
  padding: 30px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.glass {
  width: 450px;
  height: 450px;
  border: 1px solid rgb(255, 255, 255, 0.23);
  background: rgba(45, 45, 45, 0.226);
  backdrop-filter: saturate(180%) blur(8px);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.fslogo {
  height: 250px;
  width: 250px;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  transition: 0.3s ease;
  transform: translateZ(40px) scale(0.8);
}

.glass:hover .fslogo {
  height: 250px;
  width: 250px;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: 0.3s ease;
  transform: translateZ(40px) scale(0.8);
}

.typewriter {
  margin: auto;
  display: flex;
  justify-content: center;
}

.type {
  font-size: 45px;
}

.type-cursor {
  font-size: 45px;
  display: none;
}

.parallax-effect-img {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  background-size: contain;
  background-repeat: no-repeat;
}

.links {
  text-align: center;
  margin-top: 80px;
}

.links a {
  display: block;
  font-weight: 400;
  margin-bottom: 8px;
}

.homelinks {
  color: #f0ffff;
  cursor: pointer;
  text-decoration: none;
}

.homelinks:visited {
  color: #f0ffff;
  cursor: pointer;
  text-decoration: none;
}

.header-main {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.fs-logo {
  width: 60px;
  height: 60px;
}

.fsgov-logo {
  width: 200px;
  height: 60px;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 25px;
}

.header-nav {
  display: flex;
  gap: 25px;
}

.navdiv {
  display: flex;
  gap: 10px;
}

.drawer {
  margin-top: 30px;
}

.bottom {
  position: "fixed";
  bottom: 0;
  text-align: "center";
  padding-bottom: 10;
}

.wrapper {
  width: 85%;
  margin: auto;
  padding: 30px;
  background-color: transparent;
  margin-top: 10%;
}

.double {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  margin-bottom: 20px;
  margin-top: 20px;
}

.small-chart-area1 {
  min-height: 150px;
  width: 65%;
  padding: 20px;
  border: 1px solid rgb(255, 255, 255, 0.23);
  background: rgba(45, 45, 45, 0.226);
  backdrop-filter: saturate(180%) blur(8px);
  border-radius: 15px;
  font-size: large;
}

.small-chart-area2 {
  min-height: 300px;
  width: 20%;
  padding: 20px;
  border: 1px solid rgb(255, 255, 255, 0.23);
  background: rgba(45, 45, 45, 0.226);
  backdrop-filter: saturate(180%) blur(8px);
  border-radius: 15px;
  font-size: large;
}

.small-chart-area3 {
  min-height: 300px;
  width: 90%;
  margin: auto;
  margin-top: 7%;
  padding: 20px;
  border: 1px solid rgb(255, 255, 255, 0.23);
  background: rgba(45, 45, 45, 0.226);
  backdrop-filter: saturate(180%) blur(8px);
  border-radius: 15px;
  font-size: large;
}

.small-chart-area1 h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #f0ffff;
  font-weight: normal;
}

.small-chart-area2 h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #f0ffff;
  font-weight: normal;
}

.small-chart-area3 h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #f0ffff;
  font-weight: normal;
}

.small-chart-area2 h3 {
  margin-bottom: 10px;
  text-align: center;
  color: #f0ffff;
  font-weight: normal;
}

.pners {
  display: inline;
  margin: auto;
}

.pnershouse {
  margin-top: 60px;
}
.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 45px;
}

.partners {
  height: 40px;
  width: 180px;
}

.team {
  display: flex;
  justify-content: space-evenly;
}

.profile {
  height: 240px;
  width: 240px;
  text-align: center;
}

.profile-dele {
  height: 240px;
  width: 240px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255, 0.23);
  border-radius: 15px;
}

.profile-dele h3 {
  background-color: black;
  font-size: 25px;
  border-radius: 10px;
}

.pfpbox {
  text-align: center;
}

.pfp {
  height: 180px;
  width: 180px;
  border-radius: 40px;
  margin-bottom: 10px;
}

.dash {
  height: 180px;
  width: 180px;
  border-radius: 5px;
  margin-bottom: 10px;
}

img.token-pfp {
  height: 180px;
  width: 180px;
  border-radius: 40px;
  margin-bottom: 10px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.token-pfp:hover {
  height: 180px;
  width: 180px;
  border-radius: 40px;
  margin-bottom: 10px;
  filter: none;
  -webkit-filter: grayscale(0%);
}

.profile h3 {
  font-size: small;
  font-weight: normal;
}

.token {
  font-size: 20px;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
