@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");



* {
  margin: 0;
  padding: 0;
  font-family: "Courier Prime", monospace;
}

body {
  background-color: rgb(15, 15, 15);
  background-image: url("./logos/fsbg4.png");
  color: #f0ffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  width: 500px;
  height: 500px;
  border-top: 1px solid rgb(255, 255, 255, 0.23);
  border-left: 1px solid rgb(255, 255, 255, 0.23);
  background: rgba(45, 45, 45, 0.226);
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  margin-bottom: 70px;
}

.fslogo {
  height: 250px;
  width: 250px;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  transition: 0.3s ease;
  transform: translateZ(40px) scale(0.8);
}

.glass:hover .fslogo {
  height: 250px;
  width: 250px;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: 0.3s ease;
  transform: translateZ(40px) scale(0.8);

}

.typewriter {
  display: flex;
  justify-content: center;
}

.type {
  font-size: 45px;
}

.type-cursor {
  font-size: 45px;
  display: none;
}

.parallax-effect-img {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  background-size: contain;
  background-repeat: no-repeat;
}

.links {
  text-align: center;
  margin-top: 50px;
}

.links a {
  display: block;
  font-weight: 400;
  margin-bottom: 3px;
}